{% extends "base.html" %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
	  {# Translators: Хотите написать новый пост? Можете сделать это прямо здесь. [post_list] #}
	{% url "network:create" as url_post_create %}
	<p>{% blocktrans with url=url_post_create %}do you want to <a href="{{ url }}">write new post</a>? you can do it right here.{% endblocktrans %}</p>
      {% include "network/parts/post_form.html" %}
    </div>
    <div class="col-md-6 col-sm-12">
      {% include "network/parts/post_list.html" %}
    </div>
  </div>
</div>

{% endblock %}
