{% extends "core/base.html" %}


{% block content %}
<header>
  <h1>Front page</h1>
</header>

<div class="b-wall">
	{% for post in post_list %}
	<div class="b-wall__post">
		<p class="b-wall__post_content">{{ post.content|linebreaks }}</p>
		<p class="b-wall__post_footer">{{ post.created_by.username }}</p>
		<hr/>
	</div>
	{% endfor %}
</div>
{% endblock %}
