{% extends "base.html" %}


{% block content %}
<div class="b-user-profile">
	{% trans "update" as trans_update %}
	{% include "common/popup.html" with id="show_user_update" action_title=trans_update %}
	<p><a href="#show_user_update">{% trans "edit" %}</a></p>
	<p>{% trans "full_name" %}: {{ object.get_full_name }}</p>
	<p>{% trans "email" %}: {{ object.email }}</p>

	<div class="b-user-profile__posts">
		<h2>{% trans "post list" %}</h2>
		{% include "network/parts/post_list.html" with object_list=post_list page_obj=post_page paginator=post_paginator %}
	</div>
</div>
{% endblock %}