{# @params: object #}

{% comment %}
<article class="b-post">
	<h2 class="b-post__heading"><a href="{{ object.get_absolute_url }}">{{ object.heading }}</a></h2>
	{% if is_full %}
	<div class="b-post__content">{{ object.content|linebreaks }}</div>
	{% else %}
	<div class="b-post__content b-post__content-short"><p>{{ object.content|slice:":60" }}...</p></div>
	{% endif %}

	<small class="b-post__footer">
	by <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by }}</a>
  	at {{ object.created_at|date:"d.m.Y H:i" }}
	</small>
</article>
{% endcomment %}

<div class="media">
  <a class="media-left" href="#">
    <img class="media-object" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15845121c49%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15845121c49%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.84375%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Generic placeholder image">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><a href="{{ object.get_absolute_url }}">{{ object.heading }}</a></h4>
    {% if is_full %}
	<div class="b-post__content">{{ object.content|linebreaks }}</div>
	{% else %}
	<div class="b-post__content b-post__content-short"><p>{{ object.content|slice:":60" }}...</p></div>
	{% endif %}
  </div>
</div>