{% load crispy_forms_tags %}
{# @params: form #}


<div class="b-post-form">
	<form action="." method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<button type="submit" class="btn btn-primary">{% trans "create" %}</button>
	</form>
</div>