{% extends "common/popup.html" %}


{% block content %}
<div class="b-authorization" id="authorization">
	{% if not user.is_authenticated %}
	<p><a href="{% url "social:begin" backend="vk-oauth2" %}">{% blocktrans with service="VK" %}sign in using {{ service }}{% endblocktrans %}</a></p>
	{% else %}
	<p>Hello, <a href="{{ user.get_absolute_url }}" id="username">{{ user.get_short_name }}</span></a></p>
	<p><a href="{% url "admin:logout" %}?next={{ request.path }}">{% trans "logout" %}</a></p>
	{% endif %}
</div>
{% endblock %}