<nav class="b-menu">
	<a href="{% url "core:frontpage" %}" class="b-menu__item">main page</a> |
	<a href="{% url "network:list" %}" class="b-menu__item">{% trans "post list" %}</a> |
	<a href="#show_authorization" class="b-menu__item">{% if user.is_authenticated %}profile{% else %}sign in{% endif %}</a>
</nav>