{% if object_list and paginator.num_pages > 1 %}
{% with max_limit=limit|default:4 min_limit=limit|default:-4 %}
{% with max_page=page_obj.number|add:max_limit min_page=page_obj.number|add:min_limit %}
<div class="b-pagination">
    {% if page_obj.has_previous %}
        {# Translators: Предыдущая [Пагинация] #}
        <a class="b-pagination__prev" href="?page={{ page_obj.previous_page_number }}"><i></i><span>{% trans "previous" %}</span></a>
    {% endif %}

    {% for i in paginator.page_range %}
        {% if i > min_page and i < max_page %}
        <a href="?page={{ i }}" class="b-pagination__page{% if i == page_obj.number %} b-pagination__page-current{% endif %}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        {# Translators: Следующая [Пагинация] #}
        <a class="b-pagination__next" href="?page={{ page_obj.next_page_number }}"><span>{% trans "next" %}</span><i></i></a>
    {% endif %}
</div>
{% endwith %}
{% endwith %}
{% endif %}