body {
	width: 40em;
	margin: 0 auto;
	font-family: Tahoma;
	position: relative;
}

/** PAGINATION **/
.b-pagination {
	text-align: center;
}

.b-pagination__page-current {
	font-weight: bold;
	text-decoration: none;
	cursor: text;
}


/** SILLY CSS POPUP **/
.b-silly-popup {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

.b-silly-popup__close:before {
	content: "x";
	position: relative;
	top: -0.6em;
	left: -0.3em;
}

.b-silly-popup__close {
	color: #CCC;
	font-weight: bold;
	line-height: 1em;
	text-align: center;
	vertical-align: middle;

	position: absolute;
	top: -1em;
	right: -1em;
	padding: 0.5em;
	border: 0.3em solid #CCC;
	background: #EFEFEF;
	text-decoration: none;
	border-radius: 100%;
	width: 1em;
	height: 1em;
}

.b-silly-popup__close:hover {
	color: #000;
	text-decoration: none;
	border-color: #000;
}

.b-silly-popup__content {
	border: 0.3em solid #CCC;
	background: #EFEFEF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1em;
}

.b-silly-popup:target {
	display: block;
}

/** MENU **/
.b-menu {
	position: relative;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 0 0 10px 10px;
	padding: 1em;
	color: #FFF;
}

.b-menu__item, .b-menu__item:hover, .b-menu__item:visited {
	color: #FFF;
	cursor: pointer;
}
